%section#cupertino
  %img{src: "/images/cupertino.svg"}
  %h1
    %a{href: "https://github.com/mattt/cupertino"} Cupertino
  :markdown
    Automate administrative tasks that you would normally have to do through the Apple Dev Center websites. Life's too short to manage device identifiers by hand!

%section#houston
  %img{src: "/images/houston.svg"}
  %h1
    %a{href: "https://github.com/mattt/houston"} Houston
  :markdown
    Houston is a simple gem for sending Apple Push Notifications. Pass your credentials, construct your message, and send it.

%section#dubai
  %img{src: "/images/dubai.svg"}
  %h1
    %a{href: "https://github.com/mattt/dubai"} Dubai
  :markdown
    Dubai makes it easy to generate .pkpass from a script or the command line, allowing you to rapidly iterate on the design and content of your passes, or generate one-offs on the fly.

%section#venice
  %img{src: "/images/venice.svg"}
  %h1
    %a{href: "https://github.com/mattt/venice"} Venice
  :markdown
    Venice is a simple gem for verifying Apple In-App Purchase receipts, and retrieving the information associated with receipt data.


%section#shenzhen
  %img{src: "/images/shenzhen.svg"}
  %h1
    %a{href: "https://github.com/mattt/shenzhen"} Shenzhen
  :markdown
    Create .ipa files and then distribute them with TestFlight or HockeyApp, all from the command line! Shenzhen radically improves the process of getting new builds out to testers and enterprises.
